/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.slider-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 1.5rem;
}

.slider-container:first-child {
    margin-top: 0;
}

.slider-container+.slider-container {
    margin-top: 2rem;
}

input[type="range"] {
    width: 100%;
    margin: 15px 0;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
}

.slider {
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.value-display {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

.start-range {
    border-color: #4CAF50;
    /* 绿色 */
}

.end-range {
    border-color: #2196F3;
    /* 蓝色 */
    margin-top: 1rem;
}

.start-range .slider {
    background: #4CAF50;
}

.end-range .slider {
    background: #2196F3;
}

.start-range .value-display {
    color: #2c662e;
    /* 深绿 */
}

.end-range .value-display {
    color: #0d47a1;
    /* 深蓝 */
}

.double-range {
    border-color: #9C27B0;
    /* 紫色 */
    margin-top: 1.5rem;
}

.double-range .slider {
    background: #9C27B0;
}

.double-range .value-display {
    color: #4A148C;
    /* 深紫色 */
}

.double-sliders {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* 控制两个滑块的间距 */
    margin: 20px 0;
}

/* 为上下滑块添加不同样式 */
.top-slider::-webkit-slider-thumb {
    background: #6A1B9A;
}

.bottom-slider::-webkit-slider-thumb {
    background: #AB47BC;
}

.visual-range {
    padding: 60px 20px;
}

.track-container {
    position: relative;
    height: 50px;
}

.track-line {
    position: absolute;
    left: 12px;
    /* 半圆宽度 */
    right: 12px;
    /* 半圆宽度 */
    top: 50%;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
    transform: translateY(-50%);
}

.active-track {
    position: absolute;
    height: 100%;
    background: #2196F3;
    border-radius: 2px;
    transition: all 0.1s;
}

.thumb {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #2196F3;
    background: transparent;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background 0.2s;
    z-index: 2;
}

.thumb:hover {
    background: rgba(33, 150, 243, 0.2);
}

.thumb.dragging {
    background: rgba(33, 150, 243, 0.4);
}

.left-thumb {
    left: 0;
}

.right-thumb {
    left: 100%;
}